@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;1,9..40,300&family=Josefin+Sans:wght@400;500&family=Jost:wght@300;400;500;600;700&family=Lato:wght@300;400&family=Manrope:wght@400;500;800&display=swap');
.row{
    margin: 0 !important;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    margin: 0;
    font-family: Jost !important;

}


@mixin breakpoint($point) {
    @if $point == mobile {
      @media (max-width: 767px) {
        @content;
      }
    }
    @else if $point == tablet {
      @media (min-width: 768px) and (max-width: 1023px) {
        @content;
      }
    }
    @else if $point == desktop {
      @media (min-width: 1024px) {
        @content;
      }
    }
  }
  

// nav styling
.largeNav{
    @include breakpoint(mobile){
        display: none;
    }
    @include breakpoint(tablet){
        display: none;
    }
}

.smallNav{
    @include breakpoint(desktop){
        display: none;
    }
}

// Nav Styling End

// View all Button

.view-all-btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 70px 0;
    font-weight: bold;
    color: #212121;
    text-align: center;
    font-family: Jost !important;
    font-size: 17.19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    button{
        background: none;
        outline: none;
        border: 2px solid;
        padding: 10px 80px;
        color: black
    
    }
     
}


// HomePage

// first section Styling Starts-------------------------------------------------------------------------------------------------------------

.secContent{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;

  

    button{
        span{
            font-family: "Jost-Bold", Helvetica;
            font-weight: 700;
            font-size: 18.6px;
        }
    
    
    }

    button:hover{
        background-color: black;
        color: white;
    }

    h1{
    font-family: "Jost-Bold", Helvetica;
    font-weight: 700;
    color: #212121;
    font-size: 52.4px;
    margin: 40px 0;
    }

    p{
        font-family: "Jost-Regular", Helvetica;
        font-weight: 400;
        color: #333333;
        font-size: 25px;
    }
    .shop-now-btn, .learn-more-btn{
        background: none;
        outline: none;
        border: 2px solid;
        padding: 10px 50px;
        color: black
        
        
    }
}

.shop-now-btn{
    margin-right: 10px;
}

.image-section-trio{
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
}

.maleModel{
    margin-top: 120px;
}

@include breakpoint(mobile){
    
    .maleModel{
        margin-top: 0;
        
    }
    .femaleModel{
        margin: 15px 0;
    }

    .learn-more-btn{
        margin-top: 20px;
        
    }

    .shop-now-btn{
        margin-right: 0;
    }   
    
}

@include breakpoint(tablet){
    .image-section-trio{
       
        justify-content: center;
        align-items: center;
        text-align: center;
}
    }


// First Section Styling Ends---------------------------------------------------------------------------------------------------------------

// Second Section--------------------------------------------------------------------------------------------------------------------------
.byc-new-arrivals{
    h4{
        text-align: center;
        margin: 50px 0;
        color: var(--gray-1000, #212121);
        font-family: Jost;
        font-size: 33.271px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    }


}
// Second Section End--------------------------------------------------------------------------------------------------------------------------

// Third Section----------------------------------------------------------------------------------------------------------------------------
.third-section-text {
    // background-color: #F1F1F1;
    background: url(../images/HomePage/Rectangle\ 27.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 140px 0;

    h3 {
        color: #616161;
        font-weight: 700;
        font-size: 25px;
        margin-left: 50px;
      }

      h1 {
        font-weight: 700;
        margin: 15px 0;
        margin-left: 50px;
      }

      p {
        margin-bottom: 60px;
        color: #424242;
        margin-top: 20px;
        margin-left: 50px;
      }
  }


  .explore-btn {
    border: 1px solid black;
    outline: none;
    padding: 9px 60px;
    font-weight: 700;
    margin-left: 50px;
  }
@include breakpoint(mobile){
   .third-section-text{
    margin-bottom: 20px;
    // padding: 140px 0;
   }
   br{
    display: none;
   }
}

@media screen and (max-width: 992px) {
    .third-section-text {
     margin-bottom: 20px;
    }

    br {
      display: none;
    }
  }

// Third Section End----------------------------------------------------------------------------------------------------------------------------

// Fourt Section-----------------------------------------------------------------------------------------------------------------------------
.male-female-img{
    margin-top: 25px !important;
}
@include breakpoint(mobile){
    .female-img{
        margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 992px){
    .female-img{
        margin-bottom: 20px;
    }
  }

// Fourt Section End-----------------------------------------------------------------------------------------------------------------------------

// Fifth Section-----------------------------------------------------------------------------------------------------------------------------
.shop-by-category{
    text-align: center;

    h3{
        color: var(--gray-1000, #212121);
        font-family: Jost;
        font-size: 39px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
.button1{
  
  
    // justify-content: center;
    margin: 50px 0;
    button{
        border: 0;
        background-color: white;
        color: var(--Gray-1, #333);
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    button:hover{
       color: #828282;
       padding-bottom: 10px;
       border-bottom: 2px solid
      
    }
}

.button2{
  
  
    // justify-content: center;
    margin: 50px 0;
    button{
        border: 2px solid #F5F5F5;
        padding: 5px 10px;
        background-color: white;
        color: var(--Gray-1, #333);
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
       
    
    }

    button:hover{
       color: white;
       background-color: red;
      
      
      
    }
}

@include breakpoint(mobile){
    .button1{
        .for-men{
            margin: 0 5px !important;
        }
    }
   

    .button2{
        button{
            display: inline-block;
            width: 80%;
            padding: 2px 2px;
            
            
        }

        .pants, .signlet{
            margin: 15px 0 !important;
            
        }
    } 
}

// Fifth Section End-----------------------------------------------------------------------------------------------------------------------------

// Sixth Section Starts-----------------------------------------------------------------------------------------------------------------------
.sixth-sec{
    display: flex;
    justify-content: center;
    justify-items: center;

    p{
        color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
        font-family: Josefin Sans !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.left-arrow {
    margin-left: -7%;
    margin-bottom: -35%;
  }
  .right-arrow {
    margin-left: 100%;
    margin-top: -40%;
  }

  .women-pants{
    color: var(--gray-100, #19191D);
    font-family: Segoe UI !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 25px 0 9px;
    span{ 
        font-weight: 700;
      
    }
  }
  @include breakpoint(mobile){

    .read-more-button{
        margin-bottom: 40px !important;
    }
    .sixth-sec{
        display: block;
        img{
            width: 100%;
        }
      
    }
    .left-arrow{
        display: none;
    }

    .right-arrow{
        display: none;
    }
  }
// Sixth Section Ends------------------------------------------------------------------------------------------------------------------------
// Seventh Blog News------------------------------------------------------------------------------------------------------------------------
.blog-heading{
    color: #212121;
    font-family: Jost;
    font-size: 33.52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 80px;
}

.blog-content{
    background: var(--theme-white, #FFF);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    img, h6,.write-up,.read-more-button{
        margin: 30px 40px 10px;
    }

    p, h6{
        margin-left: 40px;
        color: var(--gray-900, #424242);
        font-family: Jost;
        font-size: 13.701px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        span{
            font-weight: 400;
            margin-left: 30px;
        }
        
    }
    h6{
        color: var(--gray-1000, #212121);
        font-size: 20px;     
        line-height: 120%;
    }
}
.write-up{
    color: var(--gray-900, #424242);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 19.181px */
}

.read-more-button{
    padding: 10px;
    background-color: #FFF;
    
   

}

.middle-card {
    margin: 0 -25px; /* Adjust the margin as needed to control the gap */
}

@include breakpoint(mobile){
    .middle-card{
        margin: 20px 0;
       
    }
    
}

@include breakpoint(tablet){
    .middle-card{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}



// Seventh Blog News Ends----------------------------------------------------------------------------------------------------------------------

// Footer----------------------------------------------------------------------------------------------------------------------
.footer{
    background: #212121;
    color: #FFF;
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    a{
        color: #FFF;
    }
}
.payment-method-logo{
    display: flex;
    gap: 15px;
    
}
.styled-input {
    color: #FFF;
    background-color: transparent;
    border: 0.1px solid #FFF;
    padding: 10px 120px 10px 10px;
    margin: 20px 0;
  }
  
  input::placeholder {
    color: #FFF; 
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

  @include breakpoint(mobile){
    .left-item{
        text-align: center;
       
    }

    .payment-method-logo{
        display: block;
    }
  }

// Footer Ends----------------------------------------------------------------------------------------------------------------------

  